SECRET_KEY=change-me-in-production-please
DEBUG=false
ALLOWED_HOSTS=localhost,127.0.0.1
PORT=8000
POSTGRES_DB=dept_library
POSTGRES_USER=dept
POSTGRES_PASSWORD=dept
WAGTAILADMIN_BASE_URL=http://localhost:8000
RUN_SEED=true
